* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #fe4443;
  --grey: #f0efef;
  --grey2: #6e6e6e;
  --lightBlack: #464955;
  --black: #13222a;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--red);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 2px;
}

.loader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--grey);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
}

.progress {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background: var(--red);
  transform: scaleX(0);
  transition: transform 1s;
  transform-origin: left;
  z-index: 10;
  margin: 0 5%;
}

.nav--bar {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 7%;
  margin-top: 20px;
  font-size: 1.5rem;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section--one--container1 {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  /* margin-top: 8%; */
  position: relative;
}

.first h1 {
  font-size: 6rem;
  font-family: "Orbitron", sans-serif;
  color: var(--lightBlack);
}

.first h1 span {
  color: var(--red);
}

.first p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--lightBlack);
}

.first h3 {
  color: var(--grey);
  position: absolute;
  font-size: 12rem;
  white-space: nowrap;
  z-index: -1;
  text-transform: uppercase;
  top: 60%;
}

.section--one--container2 {
  width: 1300px;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
}

.spec--wrapper .name {
  font-weight: 400;
  color: var(--lightBlack);
}

.value--wrapper {
  display: flex;
  align-items: flex-end;
}

.value--wrapper .value {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Orbitron", sans-serif;
  color: var(--red);
}
.value--wrapper .unit {
  font-size: 12px;
  margin: 0 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--lightBlack);
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.section--two--container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateZ(-90deg) translateY(-450px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.second h1 {
  font-size: 6rem;
  font-family: "Orbitron", sans-serif;
  color: var(--lightBlack);
  white-space: 0px;
}

.section--two--container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8%;
  transition: all 0.5s ease-in-out;
  transform: translateX(450px);
  opacity: 0;
}

.second span {
  font-size: 8rem;
  font-family: "Orbitron", sans-serif;
  color: var(--red);
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0px;
}

.second p {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  color: var(--lightBlack);
}

.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.section--three--container {
  display: flex;
  flex-direction: column;

  width: 30%;
  margin-left: 10%;
  transform: translateX(-1000px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.third h1 {
  font-size: 6rem;
  color: var(--red);
  white-space: 0px;
  margin-bottom: 20px;
  line-height: 90px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

.third p {
  font-size: 20px;
  color: var(--black);
  font-weight: 200;
  line-height: 30px;

  /* width: 100%; */
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

.section--four--container {
  display: flex;
  flex-direction: column;

  width: 30%;
  margin-right: 10%;

  transform: translateX(1000px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.four h1 {
  font-size: 6rem;
  color: var(--red);
  white-space: 0px;
  margin-bottom: 20px;
  line-height: 90px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

.four p {
  font-size: 20px;
  color: var(--black);
  font-weight: 200;
  line-height: 30px;

  /* width: 100%; */
}

.section--five--container {
  display: flex;
  flex-direction: column;

  width: 30%;
  margin-right: 10%;
  transform: translateX(1000px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.five h1 {
  font-size: 6rem;
  color: var(--red);
  white-space: 0px;
  margin-bottom: 20px;
  line-height: 90px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

.five p {
  font-size: 20px;

  color: var(--lightBlack);
  font-weight: 200;
  line-height: 30px;

  /* width: 100%; */
}

.six {
  position: relative;
}

.section--six--container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10%;
  transform: translateX(-1000px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.six h1 {
  font-size: 6rem;
  color: var(--red);
  white-space: 0px;
  margin-bottom: 20px;
  line-height: 90px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

.six p {
  font-size: 20px;
  color: var(--black);
  font-weight: 200;
  line-height: 30px;
}

footer {
  background: var(--black);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;

  width: 100%;
}

footer > a {
  text-decoration: none;
  color: white;
}

.button--footer {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--footer:hover {
  background: black;
  color: white;
}

.resetPosition {
  transform: translateX(0px);
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
}

.activeRightSpecific {
  transform: rotateZ(-90deg) translateY(0px);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;

  pointer-events: none;
  z-index: -1;
}
